.html,
.root,
body,
.App {
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

.ColourHolder,
.ScramblerHolder {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.ColourHolder .colourBlock {
  position: absolute;
}

.ScramblerHolder .image {
  position: absolute;
}

.TitleHolder {
  color: black;
  font-size: 10rem;
  background-color: rgba(255, 255, 255, 0.85);
  height: 30%;
  width: 50%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  top: calc(50vh - 15%);
  left: calc(50vw - 25%);
  text-align: center;
}
